body {
	background:#181818 url(../images/denim.png) 50% 0;
	color:#FFF;
	font:16px/1 Tahoma, sans-serif;
}

header {text-align:center}

a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover {
    -webkit-transition-property: border;
    -moz-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-bottom: 1px solid; }
