body {
	background:#181818 url(../images/denim.png) 50% 0;
	color:#FFF;
	font:16px/1 Tahoma, sans-serif;
}

h1 {
  margin-top: 50px;
}

header, h2, p {
	text-align:center;
}
footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
} 
a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover {
    -webkit-transition-property: border;
    -moz-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-bottom: 1px solid; }

/* HTML5 display-role reset for older browsers */
footer, header, hgroup, menu, nav, section, h2 {
  display: block; }

body > header, body > section, body > footer, body > h2 {
  max-width: 640px;
  margin: 0 auto; }


body > footer {
  color: #aaa;
  font-size: 0.8em;
  text-align: center;
  margin: 3em auto; }
  body > footer a {
    color: #aaa; }
    body > footer a:hover {
      color: #0881b3; }

.wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 22px;  
}

ul.apps {
  margin: 2em auto;
  width: 100%;
  font-family: 'HelveticaNeue', Helvetica, sans-serif;
  font-size: 14px; }
  ul.apps:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (max-width: 660px) {
    ul.apps {
      width: 280px; } }
  ul.apps li {
    border-radius: 20px;
    float: left;
    display: block;
    width: 25%;
    height: 120px;
    margin-bottom: 2em; }
    @media all and (max-width: 660px) {
      ul.apps li {
        width: 50%; } }
  ul.apps a {
    display: block;
    width: 100px;
    height: 120px;
    line-height: 0;
    margin: 0 auto; }
    ul.apps a span {
      display: block;
      width: 100px;
      height: 10px;
      font-weight: 800;
      text-align: center;
      line-height: 1em;
      padding: 8px 0 0;
      color: #888; }
    ul.apps a:hover {
      border: 0; }
  ul.apps img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -2;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.25); }
